#Video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }
#top{
    position: absolute;
    top: 0%;
    right:0%;
    background-color: black;
    opacity: 95%;
    width: 100%;
    height: 6%;
    color: aliceblue;
    text-align: center;
    font-size: 200%;
    font-family: 'Lato', sans-serif;
    table-layout: fixed;
}
a{
    color: aliceblue;
    text-decoration: none;
}
a:hover
{
 font-size:130% ;
 opacity:100%;
 color: crimson;
}

#supraimg
{   position: absolute;
    opacity: 100%;
    left:0% ;
    width: 20%;
    height: fit-content;
    margin-left: 0%;
}
#suprap{
    position: absolute;
    
    font-size: x-large;
    color: aliceblue;
    background-color: black;
    opacity: 75%;
    left: 21%;
    font-family: 'Lato', sans-serif;
}

#supra{
    position: absolute;
    background-color: black;
    opacity:95%;
    width: 100%;
    height: 65% ;
    left:0%;
    top:100%;
}
h1{
    font-family: 'Lato', sans-serif;
    color: aliceblue;
    size: 200%;
}
#sky{
    position: absolute;
    background-color: black;
    opacity:95%;
    width: 100%;
    height: 50% ;
    left:0%;
    top:165%;
}
#skyp{
    position: absolute;
    
    font-size: x-large;
    color: aliceblue;
    background-color: black;
    opacity:100%;
    right: 30%;
    left: 1%;
    font-family: 'Lato', sans-serif;
}
#skyimg{   position: absolute;
        opacity: 100%;
        right:0% ;
        width: 30%;
        height: fit-content;
        margin-left: 0%;
}
html {
    scroll-behavior: smooth;
  }
#imp{
    position: absolute;
    background-color: black;
    opacity:95%;
    width: 100%;
    height: 100% ;
    left:0%;
    top:215%;
}
#impimg{
    position: absolute;
    width: 30%;
    
}
#impp{
    position: absolute;
    
    font-size: x-large;
    color: aliceblue;
    background-color: black;
    opacity:100%;
    left: 32%;
    right: 1%;
    font-family: 'Lato', sans-serif;
}
#myBtn {
    position: fixed;
    bottom: 5px;
    float: right;
    
    right: 1%;
    max-width: 30px;
    width: 100%;
    font-size: 12px;
    border-color: rgba(85, 85, 85, 0.2);
    background-color: rgb(100,100,100);
    padding: .5px;
    border-radius: 4px;
}
a.myBtn:hover{
    color: red;


}
